.grid1.mob{
  
  opacity: 0;
    display: none;
    visibility: hidden;
   @include respond(tab-port){
    height: 100vh;
      opacity: 1 !important;
      display: block !important;
      visibility: visible !important;
      background: #fff;
   } 
}
.grid{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  @include respond(tab-port){
    display: block;
    overflow: hidden;
  }
}
.grid1.comp{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  @include respond(tab-port){
    // display: block;
    // overflow: hidden;
    opacity: 0;
    display: none;
    visibility: hidden;
    

  }
  // @include respond(tab-port){
  //   height: 50vh;
  //   margin-top: 0px !important;
  // }

}



.sec2p{
  margin-top: 10rem;
 
  @include respond(tab-port){
    margin-top: 1.5rem;
  }
}
.grid__item{
  display: flex;
  flex-direction: column;

  &--center{
   
    justify-content: center;
    
  }
  
    //
  
}
