//COLORS

$white:#fff;
$black:rgb(0,0,0);

$blue-right:rgb(4,240,200);
$blue-button:rgb(2, 133, 255);

$light-grey:#f7f7f7;
$grey:#777;
$dark-grey:#333;

$red:rgb(255, 0, 0);


$green:rgb(44, 255, 2);

//GRID

$gutter-horizontal:4rem;
$gutter-vertical:8rem;

//FONT SIZE

$font-size-default:1.6rem;



// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;


//color

$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;
$color-white:#fff;
$color-black:#000;
$color-lightwhite:#eee;

$color-purple-light:#ba68c8;
$color-purple-dark:#7b1fa2;

$color-cyan-light:#4dd0e1;
$color-cyan-dark:#0097a7;

$color-brown-light:#a1887f;
$color-brown-dark:#5d4037;


//fontsize
$default-font-size:1.6rem;
//gridrem
$grid-width: 114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;


// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;
