.achievements{
    background-color: #f7f7f7;
}

.achieve__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
}

.book__img:hover .achieve__caption {
    opacity: 1;
    transform: translate(-60%, -50%);
}

.achieve__img {
    width: 100%;
    height: 100%;
    transform: translateX(-4rem) scale(0.9);
    backface-visibility: hidden;
    transition: all .5s;
}

.book__img:hover:hover .achieve__img {
    transform: translateX(-4rem) scale(0.8);
    filter: blur(4px);
    -webkit-filter: blur(4px);
}
